html {
  &.typ-darkmode {
    filter: invert(.9) hue-rotate(.5turn);

    img,
    svg,
    video {
      filter: invert(1.1) hue-rotate(.5turn);
    }
  }
}

/*************************************
 * status bar button
 */

.footer-item .fa-sun-o {
  display: none;

  .typ-darkmode & {
    display: inline;
  }
}

.footer-item .fa-moon-o {
  display: inline;

  .typ-darkmode & {
    display: none;
  }
}
